body {
  background-image: url("https://reader008.staticloud.net/reader008/html5/20180826/55aae72b1a28abff5d8b4605/bg5.png");
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

p.thick {
  font-weight: bold;
}

<h1 style="color:White;">Hello World</h1>
<p style="color:White;">Lorem ipsum...</p>
<p style="color:White;">Ut wisi enim...</p>



